$theme-colors: (
    "primary": #29a9e1,
    "secondary": #ffd964,
    "light": #79899e,
    "dark": #bcbcbc1a,
);

$border-radius: 8px;

$nav-pills-link-active-bg: #29a9e10d;
$nav-pills-link-active-color: #29a9e1 !important;

$position-values: (
    0: 0,
    50: 60px,
    100: 100%,
);

@import "~bootstrap/scss/bootstrap";
